@import "simplelightbox/dist/simple-lightbox.min.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
    max-width: 1128px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }

  .modal {
    max-width: 1112px;
    height: auto;
    max-height: 640px;
    padding-top: 28px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
  }